schema/schema_attr.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:simpleType name="Positive_decimal"> <!-- es gibt keinen vordefinierten Datentypen für positive Dezimalzahlen, deswegen habe ich selbst einen definiert-->
    <xs:restriction base="xs:decimal">
     <xs:pattern value="[0-9]\d*(\.\d+)?"/>
    </xs:restriction>
</xs:simpleType>

<xs:element name="car_database">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="car" maxOccurs="unbounded">
        <xs:complexType>
            <xs:attribute name="Model" type="xs:string" use="required"/>
            <xs:attribute name="MSRP_in_USD" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Gas_Mileage" type="xs:string" use="optional"/>
            <xs:attribute name="Engine" type="xs:string" use="optional"/>
            <xs:attribute name="EPA_Class" type="xs:string" use="optional"/>
            <xs:attribute name="Style_Name" type="xs:string" use="optional"/>
            <xs:attribute name="Drivetrain" type="xs:string" use="optional"/>
            <xs:attribute name="Passenger_Capacity" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="Passenger_Doors" type="xs:nonNegativeInteger" use="optional"/>
            <xs:attribute name="Body_Style" type="xs:string" use="optional"/>
            <xs:attribute name="Transmission" type="xs:string" use="optional"/>
            <xs:attribute name="EPA_Classification" type="xs:string" use="optional"/>
            <xs:attribute name="Base_Curb_Weight_in_lbs" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Front_Hip_Room_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Front_Leg_Room_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Second_Shoulder_Room_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Passenger_Volume_in_cubic_feet" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Second_Head_Room_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Front_Shoulder_Room_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Second_Hip_Room_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Front_Head_Room_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Second_Leg_Room_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Wheelbase_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Min_Ground_Clearance_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Track_Width_Front_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Width_Max_without_mirrors_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Track_Width_Rear_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Height_Overall_in_inch" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Cargo_Volume_to_Seat_1_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Volume_to_Seat_2_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Volume_to_Seat_3_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Fuel_Tank_Capacity_approx_in_gal" type="xs:string" use="optional"/>
            <xs:attribute name="Fuel_Economy_Est-Combined_MPG" type="xs:string" use="optional"/>
            <xs:attribute name="EPA_Fuel_Economy_Est_-_City_MPG" type="xs:string" use="optional"/>
            <xs:attribute name="EPA_Fuel_Economy_Est_-_Hwy_MPG" type="xs:string" use="optional"/>
            <xs:attribute name="Engine_Order_Code" type="xs:string" use="optional"/>
            <xs:attribute name="SAE_Net_Torque_RPM" type="xs:string" use="optional"/>
            <xs:attribute name="Fuel_System" type="xs:string" use="optional"/>
            <xs:attribute name="Engine_Type" type="xs:string" use="optional"/>
            <xs:attribute name="SAE_Net_Horsepower_RPM" type="xs:string" use="optional"/>
            <xs:attribute name="Displacement" type="xs:string" use="optional"/>
            <xs:attribute name="First_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Sixth_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Trans_Description_Cont." type="xs:string" use="optional"/>
            <xs:attribute name="Fourth_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Seventh_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Trans_Order_Code" type="xs:string" use="optional"/>
            <xs:attribute name="Second_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Reverse_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Trans_Description_Cont._Again" type="xs:string" use="optional"/>
            <xs:attribute name="Fifth_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Eighth_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Trans_Type" type="xs:string" use="optional"/>
            <xs:attribute name="Third_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Final_Drive_Axle_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Brake_Type" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Brake_Rotor_Diam_x_Thickness_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Disc_-_Rear_" type="xs:string" use="optional"/>
            <xs:attribute name="Brake_ABS_System" type="xs:string" use="optional"/>
            <xs:attribute name="Drum_-_Rear_" type="xs:string" use="optional"/>
            <xs:attribute name="Front_Brake_Rotor_Diam_x_Thickness_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Disc_-_Front_" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Drum_Diam_x_Width_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Steering_Type" type="xs:string" use="optional"/>
            <xs:attribute name="Turning_Diameter_-_Curb_to_Curb_in_feet" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Front_Tire_Order_Code" type="xs:string" use="optional"/>
            <xs:attribute name="Spare_Tire_Size" type="xs:string" use="optional"/>
            <xs:attribute name="Front_Tire_Size" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Tire_Order_Code" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Tire_Size" type="xs:string" use="optional"/>
            <xs:attribute name="Spare_Tire_Order_Code" type="xs:string" use="optional"/>
            <xs:attribute name="Front_Wheel_Size_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Spare_Wheel_Material" type="xs:string" use="optional"/>
            <xs:attribute name="Front_Wheel_Material" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Wheel_Size_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Wheel_Material" type="xs:string" use="optional"/>
            <xs:attribute name="Spare_Wheel_Size_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Suspension_Type_-_Front_" type="xs:string" use="optional"/>
            <xs:attribute name="Suspension_Type_-_Front" type="xs:string" use="optional"/>
            <xs:attribute name="Suspension_Type_-_Rear_" type="xs:string" use="optional"/>
            <xs:attribute name="Suspension_Type_-_Rear" type="xs:string" use="optional"/>
            <xs:attribute name="Air_Bag-Frontal-Driver" type="xs:string" use="optional"/>
            <xs:attribute name="Air_Bag-Frontal-Passenger" type="xs:string" use="optional"/>
            <xs:attribute name="Air_Bag-Passenger_Switch_" type="xs:string" use="optional"/>
            <xs:attribute name="Air_Bag-Side_Body-Front" type="xs:string" use="optional"/>
            <xs:attribute name="Air_Bag-Side_Body-Rear" type="xs:string" use="optional"/>
            <xs:attribute name="Air_Bag-Side_Head-Front" type="xs:string" use="optional"/>
            <xs:attribute name="Air_Bag-Side_Head-Rear" type="xs:string" use="optional"/>
            <xs:attribute name="Brakes-ABS" type="xs:string" use="optional"/>
            <xs:attribute name="Child_Safety_Rear_Door_Locks" type="xs:string" use="optional"/>
            <xs:attribute name="Daytime_Running_Lights" type="xs:string" use="optional"/>
            <xs:attribute name="Traction_Control" type="xs:string" use="optional"/>
            <xs:attribute name="Night_Vision" type="xs:string" use="optional"/>
            <xs:attribute name="Rollover_Protection_Bars" type="xs:string" use="optional"/>
            <xs:attribute name="Fog_Lamps" type="xs:string" use="optional"/>
            <xs:attribute name="Parking_Aid" type="xs:string" use="optional"/>
            <xs:attribute name="Tire_Pressure_Monitor" type="xs:string" use="optional"/>
            <xs:attribute name="Back-Up_Camera" type="xs:string" use="optional"/>
            <xs:attribute name="Stability_Control" type="xs:string" use="optional"/>
            <xs:attribute name="Other_Features" type="xs:string" use="optional"/>
            <xs:attribute name="Basic_Miles_per_km" type="xs:string" use="optional"/>
            <xs:attribute name="Basic_Years" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Corrosion_Miles_per_km" type="xs:string" use="optional"/>
            <xs:attribute name="Corrosion_Years" type="Positive_decimal" use="optional"/>
            <xs:attribute name="Drivetrain_Years" type="xs:string" use="optional"/>
            <xs:attribute name="Drivetrain_Miles_per_km" type="xs:string" use="optional"/>
            <xs:attribute name="Roadside_Assistance_Miles_per_km" type="xs:string" use="optional"/>
            <xs:attribute name="Roadside_Assistance_Years" type="xs:string" use="optional"/>
            <xs:attribute name="Maximum_Alternator_Capacity_" type="xs:string" use="optional"/>
            <xs:attribute name="Cold_Cranking_Amps" type="xs:string" use="optional"/>
            <xs:attribute name="Wt_Distributing_Hitch_-_Max_Tongue_Wt._in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Dead_Weight_Hitch_-_Max_Tongue_Wt._in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Maximum_Trailering_Capacity_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Wt_Distributing_Hitch_-_Max_Trailer_Wt._in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Dead_Weight_Hitch_-_Max_Trailer_Wt._in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Liftover_Height_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Door_Opening_Height_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Door_Opening_Width_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Length_Overall_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Box_Width_Wheelhousings_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Area_Length_Floor_to_Seat_3_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Area_Length_Floor_to_Seat_1_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Box_Area_Height_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Area_Width_Beltline_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Area_Length_Floor_to_Seat_2_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Clutch_Size_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Turning_Diameter_-_Wall_to_Wall_in_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Lock_to_Lock_Turns_Steering" type="xs:string" use="optional"/>
            <xs:attribute name="Steering_Ratio_1_Overall" type="xs:string" use="optional"/>
            <xs:attribute name="Shock_Absorber_Diameter_-_Front_in_mm" type="xs:string" use="optional"/>
            <xs:attribute name="Stabilizer_Bar_Diameter_-_Rear_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Shock_Absorber_Diameter_-_Rear_in_mm" type="xs:string" use="optional"/>
            <xs:attribute name="Stabilizer_Bar_Diameter_-_Front_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Total_Cooling_System_Capacity_in_qts" type="xs:string" use="optional"/>
            <xs:attribute name="Third_Shoulder_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Third_Head_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Third_Hip_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Third_Leg_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Hybrid_Electric_Components_Miles_per_km" type="xs:string" use="optional"/>
            <xs:attribute name="Hybrid_Electric_Components_Years" type="xs:string" use="optional"/>
            <xs:attribute name="Transfer_Case_Gear_Ratio_1_High" type="xs:string" use="optional"/>
            <xs:attribute name="Transfer_Case_Gear_Ratio_1_Low" type="xs:string" use="optional"/>
            <xs:attribute name="Trunk_Volume_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Number_of_Passenger_Doors" type="xs:string" use="optional"/>
            <xs:attribute name="Roadside_Assistance_Note" type="xs:string" use="optional"/>
            <xs:attribute name="Warranty_Note" type="xs:string" use="optional"/>
            <xs:attribute name="Maintenance_Miles_per_km" type="xs:string" use="optional"/>
            <xs:attribute name="Maintenance_Years" type="xs:string" use="optional"/>
            <xs:attribute name="Basic_Note" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Volume_with_Rear_Seat_Up_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Volume_with_Rear_Seat_Down_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Gross_Vehicle_Weight_Rating_Cap_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Engine_Oil_Cooler" type="xs:string" use="optional"/>
            <xs:attribute name="Transfer_Case_Model" type="xs:string" use="optional"/>
            <xs:attribute name="Transfer_Case_Power_Take_Off" type="xs:string" use="optional"/>
            <xs:attribute name="Trans_PTO_Access" type="xs:string" use="optional"/>
            <xs:attribute name="Brake_ABS_System_Second_Line" type="xs:string" use="optional"/>
            <xs:attribute name="Axle_Type_-_Rear" type="xs:string" use="optional"/>
            <xs:attribute name="Axle_Type_-_Front" type="xs:string" use="optional"/>
            <xs:attribute name="Cold_Cranking_Amps_0_F_2nd" type="xs:string" use="optional"/>
            <xs:attribute name="EPA_MPG_Equivalent_-_Combined" type="xs:string" use="optional"/>
            <xs:attribute name="Battery_Range_in_mi" type="xs:string" use="optional"/>
            <xs:attribute name="Axle_Ratio_1_-_Rear" type="xs:string" use="optional"/>
            <xs:attribute name="Axle_Ratio_1_-_Front" type="xs:string" use="optional"/>
            <xs:attribute name="Gross_Axle_Wt_Rating_-_Front_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Gross_Axle_Wt_Rating_-_Rear_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="EPA_MPG_Equivalent_-_City" type="xs:string" use="optional"/>
            <xs:attribute name="EPA_MPG_Equivalent_-_Hwy" type="xs:string" use="optional"/>
            <xs:attribute name="Maintenance_Note" type="xs:string" use="optional"/>
            <xs:attribute name="Emissions_Miles_per_km" type="xs:string" use="optional"/>
            <xs:attribute name="Emissions_Years" type="xs:string" use="optional"/>
            <xs:attribute name="Ninth_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="EPA_Air_Pollution_Score" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Door_Type" type="xs:string" use="optional"/>
            <xs:attribute name="Curb_Weight_-_Front_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Gross_Combined_Wt_Rating_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Curb_Weight_-_Rear_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Ground_Clearance_Rear_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Step_Up_Height_-_Front_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Length_Overall_with_rear_bumper_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Ground_to_Top_of_Load_Floor_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Side_Door_Opening_Height_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Overhang_Front_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Step_Up_Height_-_Side_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Ground_Clearance_Front_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Side_Door_Opening_Width_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Overhang_Rear_with_bumper_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Volume_to_Seat_4_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Area_Length_Floor_to_Seat_4_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Area_Length_Floor_to_Console_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Aux_Fuel_Tank_Capacity_approx_in_gal" type="xs:string" use="optional"/>
            <xs:attribute name="Fuel_Tank_Location" type="xs:string" use="optional"/>
            <xs:attribute name="Aux_Fuel_Tank_Location" type="xs:string" use="optional"/>
            <xs:attribute name="Trans_Power_Take_Off" type="xs:string" use="optional"/>
            <xs:attribute name="Tenth_Gear_Ratio_1" type="xs:string" use="optional"/>
            <xs:attribute name="Steering_Ratio_1_On_Center" type="xs:string" use="optional"/>
            <xs:attribute name="Steering_Ratio_1_At_Lock" type="xs:string" use="optional"/>
            <xs:attribute name="Spare_Tire_Capacity_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Front_Tire_Capacity_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Revolutions_per_Mile_at_45_mph_Spare" type="xs:string" use="optional"/>
            <xs:attribute name="Revolutions_per_Mile_at_45_mph_-_Front" type="xs:string" use="optional"/>
            <xs:attribute name="Rear_Tire_Capacity_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Revolutions_per_Mile_at_45_mph_-_Rear" type="xs:string" use="optional"/>
            <xs:attribute name="Axle_Capacity_-_Front_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Axle_Capacity_-_Rear_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Spring_Capacity_-_Front_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Spring_Capacity_-_Rear_in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Maximum_Alternator_Watts" type="xs:string" use="optional"/>
            <xs:attribute name="Fifth_Wheel_Hitch_-_Max_Trailer_Wt._in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Fifth_Wheel_Hitch_-_Max_Tongue_Wt._in_lbs" type="xs:string" use="optional"/>
            <xs:attribute name="Length_Overall_without_rear_bumper_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Front_Bumper_to_Back_of_Cab_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Frame_Width_Rear_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cab_to_Axle_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Overhang_Rear_without_bumper_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Ground_to_Top_of_Frame_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cab_to_End_of_Frame_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Box_Width_at_Top_Rear_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Volume_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Box_Width_at_Floor_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Extd_Cab_Cargo_Volume_in_cubic_feet" type="xs:string" use="optional"/>
            <xs:attribute name="Cargo_Box_Length_at_Floor_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Tailgate_Width_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Drivetrain_Note" type="xs:string" use="optional"/>
            <xs:attribute name="Emissions_Note" type="xs:string" use="optional"/>
            <xs:attribute name="Fourth_Hip_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Fourth_Leg_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Fourth_Shoulder_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Fourth_Head_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Fifth_Shoulder_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Fifth_Head_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Fifth_Hip_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Fifth_Leg_Room_in_inch" type="xs:string" use="optional"/>
            <xs:attribute name="Corrosion_Note" type="xs:string" use="optional"/>
            <xs:attribute name="Hybrid_Electric_Components_Note" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>